<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascript/jquery-3.3.1.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js">
            </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>RTFAdminLookup</title>
  </head>

  <body>
{{!-- ************************ START OF NAVBAR AREA**************** --}}
{{> header }}
<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF LIVE DISCOUNTS SEC 1 **************** -->
<div id= "adminSectionOne">

  <div class="fixedFilter">
      <h2>Discounts (Lookup)</h2>
     <ul>
      <li><form action="/admin/holding" method="GET">
        <input type="submit" value="Holding Page">
    </form></li>
      <li><form action="/admin/logout" method="get">
          <input type="submit" value="Log Out"/>
      </form> </li>
      {{#if discountIDs}}
      <li><form method="POST" action="/admin/live_discounts/export">
        <input type="hidden" name="discounts" value="{{discountIDs}}">
        <button type="submit" value="Export">Export Results</button>
    </form></li>
      {{/if}}
    </ul>
      <form method="GET" action="/admin/live_discounts">
          <table>
              <tr>
                  <th>State</th>
                  <th>County</th>
                  <th>Category</th>
                  <th>Expiration</th>
                  <th>&nbsp</th>
                  <th>&nbsp</th>
                  <th>ID</th>
                  <th>&nbsp</th>
              </tr>
              <tr>
                  <td><select id="state" name="state">
            <option value="1">NY</option>
          </select></td>
                  <td><select id="county" class="single" name="county"  style="width:100%">
  				<option></option>
  					<option value="1">Rensselaer</option>
  					<option value="2">Albany</option>
  					<option value="3">Schenectady</option>
  					<option value="4">Saratoga</option>
  					<option value="5">Columbia</option>
  					<option value="6">Greene</option>
  					<option value="7">Fulton</option>
  					<option value="8">Warren</option>
  					<option value="9">Schoharie</option>
  					<option value="10">Montgomery</option>
          </select></td>
                  <td><select id="category" name="category">
            <option value="all">All</option>
            <option value=1>Casual Dining and Take-Out</option>
            <option value=2>Art and Antiques</option>
            <option value=3>Banking</option>
            <option value=4>Books</option>
            <option value=5>Cleaners</option>
            <option value=6>Clothing</option>
            <option value=7>Family and Recreation</option>
            <option value=8>Flowers</option>
            <option value=9>Fine Dining and Nightlife</option>
            <option value=10>Haircare and Spas</option>
            <option value=11>Jewelry</option>
            <option value=12>Legal</option>
            <option value=13>Automotive</option>
            <option value=14>Home Services</option>
            <option value=15>Travel</option>
            <option value=16>Theater and Arts</option>
            <option value=17>Storage</option>
            <option value=18>Pets</option>
            <option value=19>Health and Fitness</option>
            <option value=20>Electronics</option>
            <option value=21>Other</option>
          </select></td>
                  <td><select id="order" name="order">
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
          </select></td>
                  <td><button type="submit">Filter</button></td>
                  <td><input type="reset" value="Reset"></td>
      </form>
      <form method="GET" action="/admin/live_discounts">
          <td><input type="number" name="id"></td>
          <td><button type="submit" name="action" value="idLookup">Find ID</button></td>
          </tr>
          </table>
      </form>
  </div>

  {{#live_discounts}}
  <div class="adminhold">
        <form method="POST" action="/admin/live_discounts">
        <input type="hidden" name="discountIDs" value={{discountIDs}}>
            <table class="recent-threads">
                <ul class="topline">
                            <li class="busname">{{busname}}</li>
                            <li class="active">
                                <label for="active">STATUS:</label>
                                <input type="hidden" name="active" value={{active}}>{{active}}</li>
                            <li class="id">
                                <label for="id">ID:</label>
                                <input type="hidden" name="id" value={{id}}>{{id}}</li>
                        </ul>
                        <tr>
                <th>Business Name</th>
                <th>State</th>
                <th>County</th>
                <th>Street</th>
                <th>Zip</th>
                <th>Category</th>
                <th>&nbsp</th>
            </tr>
            <tr>
                <td><input type="text" value="{{busname}}" name="busname" size="30">
                </td>
                <td><select name="state">
                    <option selected value="{{state}}">{{state_abv}}</option>
                  </select>
                </td>
                <td>

                    {{!-- {{#each counties}}
                      <p>{{ this }}</p>
                    {{/each}} --}}
                    <select id="county" class="smultiple" name="counties" multiple="multiple" style="width:100%" required>
                    {{#each counties}}
                    <option selected value="{{id}}">{{name}}</option>
                    {{/each}}
                    <option value="1">Rensselaer</option>
                    <option value="2">Albany</option>
                    <option value="3">Schenectady</option>
                    <option value="4">Saratoga</option>
                    <option value="5">Columbia</option>
                    <option value="6">Greene</option>
                    <option value="7">Fulton</option>
                    <option value="8">Warren</option>
                    <option value="9">Schoharie</option>
                    <option value="10">Montgomery</option>
                   </select>
                </td>
                <td><input type="text" value="{{street}}" name="street">
                </td>
                <td><input type="number" value="{{zip}}" name="zip">
                </td>
                <td>
                  <select id="category" name="category">
                  <option value="{{category}}">{{category_name}}</option>
                  <option value=1>Casual Dining and Take-Out</option>
                  <option value=2>Art and Antiques</option>
                  <option value=3>Banking</option>
                  <option value=4>Books</option>
                  <option value=5>Cleaners</option>
                  <option value=6>Clothing</option>
                  <option value=7>Family and Recreation</option>
                  <option value=8>Flowers</option>
                  <option value=9>Fine Dining and Nightlife</option>
                  <option value=10>Haircare and Spas</option>
                  <option value=11>Jewelry</option>
                  <option value=12>Legal</option>
                  <option value=13>Automotive</option>
                  <option value=14>Home Services</option>
                  <option value=15>Travel</option>
                  <option value=16>Theater and Arts</option>
                  <option value=17>Storage</option>
                  <option value=18>Pets</option>
                  <option value=19>Health and Fitness</option>
                  <option value=20>Other</option>
                  </select>
                </td>
                <td>
                    <button type="submit" name="action" value="Delete">Delete</button>
                </td>
            </tr>
        </table>
        <ul>

        <li><label for="desoffer"><b>Offer</b></label>
        <textarea name="desoffer" >{{desoffer}}</textarea>
        </li>
        <li><label for="buslinks"><b>Website</b></label>
        <textarea name="buslinks">{{buslinks}}</textarea>
        </li>
        <li><label for="notes"><b>Notes</b></label>
        <textarea name="notes">{{notes}}</textarea>
        </li>

        </ul>

            <table>
            <tr>

                <th>Contact Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Created</th>
                <th>Expiration (MM-DD-YYYY)</th>
                <th>&nbsp</th>
            </tr>
            <tr>

                <td><input type="text" value="{{cname}}" name="cname"></td>
                <td><input type="text" value="{{cphone}}" name="cphone"></td>
                <td><input type="text" value="{{busmail}}" name="busmail" size="35"></td>
                <td><input type="hidden" value="{{created}}" name="created">{{dateFormat created "MM-DD-YYYY"}}</td>
                <td><input type="hidden" value="{{dateFormat expiration "MM-DD-YYYY"}}" name="originalExpiration">
                <input type="text" value="{{dateFormat expiration "MM-DD-YYYY"}}" name="expiration"></td>
                <td>
                    <button type="submit" name="action" value="Update">Update</button>
                </td>
              </tr>
        </table>
        </form>
    </div>
  {{/live_discounts}}
  {{#if no_discounts}}
  <div>
    <p>No discounts with those paramters/ID found.</p>
  </div>
  {{/if}}

<!-- close section one -->
</div>
<!-- ************************ END OF LIVE DISCOUNTS SEC 1 **************** -->

<!-- ************************ START OF LIVE DISCOUNTS SEC 2 **************** -->
<div id= "adminSectionTwo">
  <h2>Discounts (Business Search)</h2>

  <div class="container">
  <form method="GET" action="/admin/business_search">
    <input type="text" name="busname" placeholder="Search business name here" size="40"required>
    <button type="submit">Search</button>
  </form>
  </div>

  {{#if business_search}}
  <table class="recent-threads">
  <thead>
    <tr>
        <td>Business Name</td>
        <td>ID</td>
    </tr>
  </thead>
  {{#business_search}}
  <tr>
    <td>{{busname}}</td>
    <td>{{id}}</td>
  </tr>
  {{/business_search}}
  </table>
  {{/if}}
  {{#if no_business}}
  <div>
    <p>No business with that name found.</p>
  </div>
  {{/if}}
</div>

<!-- ************************ END OF LIVE DISCOUNTS SEC 2 **************** -->

<!-- ************************ START OF LIVE VETERANS **************** -->
<div id= "adminSectionThree">
  <h2>Veterans Email<form method="POST" action="/admin/live_veterans/export">
    <button type="submit" value="Export">Export All Veterans</button>
  </form></h2>
  <div class="container">
          <form method="GET" action="/admin/veteran_search">
            <input type="text" name="email" placeholder="Search email here" size="40" required>
            <button type="submit">Search</button>
          </form>
  </div>

  {{#if live_veterans}}
  <table class="recent-threads">
  <thead>
    <tr>
        <td>Subscriber Name</td>
        <td>County</td>
        <td>Email</td>
        <td>ID</td>
    </tr>
  </thead>
  {{#live_veterans}}
  <form method="POST" action="/admin/live_veterans">
  <tr>
      <td><input type="text" value="{{name}}" name="name" size="35"></td>
      <td>
          <select id="county" class="single" name="county"  style="width:75%">
          <option selected value="{{county}}">{{county_name}}</option>
          <option value="1">Rensselaer</option>
          <option value="2">Albany</option>
          <option value="3">Schenectady</option>
          <option value="4">Saratoga</option>
          <option value="5">Columbia</option>
          <option value="6">Greene</option>
          <option value="7">Fulton</option>
          <option value="8">Warren</option>
          <option value="9">Schoharie</option>
          <option value="10">Montgomery</option>
        </select>
      </td>
      <td><input type="text" value="{{email}}" name="email" size="40"></td>
      <td><input type="hidden" name="id" value={{id}}>{{id}}</td>
      <td>
          <button type="submit" name="action" value="Delete">Delete</button>
      </td>
      <td>
          <button type="submit" name="action" value="Update">Update</button>
      </td>
  </tr>
  </form>
  {{/live_veterans}}
  </table>
  {{/if}}
  {{#if no_veteran}}
  <div>
    <p>No veteran with that email found.</p>
  </div>
  {{/if}}
<script src="/javascript/script.js"></script>
<!-- close section one -->
</div>

<!-- ************************ END OF LIVE VETERANS **************** -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->
{{> footer}}
<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->

</body>

</html>
