<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/javascript/jquery-3.3.1.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js">
            </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>RTFAdminLookup</title>
  </head>

  <body>
{{!-- ************************ START OF NAVBAR AREA**************** --}}
{{> header }}
<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF LIVE DISCOUNTS SEC 1 **************** -->
<div id= "adminSectionOne">

  <div class="fixedFilter">
      <h2>Discounts (Lookup)</h2>
     <ul>
      <li><form action="/admin/holding" method="GET">
        <input type="submit" value="Holding Page">
    </form></li>
      <li><form action="/admin/logout" method="get">
          <input type="submit" value="Log Out"/>
      </form> </li>
      {{#if discountIDs}}
      <li><form method="POST" action="/admin/live_discounts/export">
        <input type="hidden" name="discounts" value="{{discountIDs}}">
        <button type="submit" value="Export">Export Results</button>
    </form></li>
      {{/if}}
    </ul>
      <form method="GET" action="/admin/live_discounts">
          <table>
              <tr>
                  <th>State</th>
                  <th>County</th>
                  <th>Category</th>
                  <th>Expiration</th>
                  <th>&nbsp</th>
                  <th>&nbsp</th>
                  <th>ID</th>
                  <th>&nbsp</th>
              </tr>
              <tr>
                  <td><select id="state" name="state">
            <option value="1">NY</option>
          </select></td>
                  <td><select id="county" class="single" name="county"  style="width:100%">
  				<option></option>
                <option value="1">Rensselaer</option>
                <option value="2">Albany</option>
                <option value="3">Schenectady</option>
                <option value="4">Saratoga</option>
                <option value="5">Columbia</option>
                <option value="6">Greene</option>
                <option value="7">Fulton</option>
                <option value="8">Warren</option>
                <option value="9">Schoharie</option>
                <option value="10">Montgomery</option>
                <option value="11">Allegany</option>
                <option value="12">Bronx</option>
                <option value="13">Broome</option>
                <option value="14">Cattaraugus</option>
                <option value="15">Cayuga</option>
                <option value="16">Chautauqua</option>
                <option value="17">Chemung</option>
                <option value="18">Chenango</option>
                <option value="19">Clinton</option>
                <option value="20">Cortland</option>
                <option value="21">Delaware</option>
                <option value="22">Dutchess</option>
                <option value="23">Erie</option>
                <option value="24">Essex</option>
                <option value="25">Franklin</option>
                <option value="26">Genesee</option>
                <option value="27">Hamilton</option>
                <option value="28">Herkimer</option>
                <option value="29">Jefferson</option>
                <option value="30">Kings</option>
                <option value="31">Lewis</option>
                <option value="32">Livingston</option>
                <option value="33">Madison</option>
                <option value="34">Monroe</option>
                <option value="35">Nassau</option>
                <option value="36">New York</option>
                <option value="37">Niagara</option>
                <option value="38">Oneida</option>
                <option value="39">Onondaga</option>
                <option value="40">Ontario</option>
                <option value="41">Orange</option>
                <option value="42">Orleans</option>
                <option value="43">Oswego</option>
                <option value="44">Otsego</option>
                <option value="45">Putnam</option>
                <option value="46">Queens</option>
                <option value="47">Richmond</option>
                <option value="48">Rockland</option>
                <option value="49">St_Lawrence</option>
                <option value="50">Schuyler</option>
                <option value="51">Seneca</option>
                <option value="52">Steuben</option>
                <option value="53">Suffolk</option>
                <option value="54">Sullivan</option>
                <option value="55">Tioga</option>
                <option value="56">Tompkins</option>
                <option value="57">Ulster</option>
                <option value="58">Washington</option>
                <option value="59">Wayne</option>
                <option value="60">Westchester</option>
                <option value="61">Wyoming</option>
                <option value="62">Yates</option>
          </select></td>
                  <td><select id="category" name="category" class="single">
            <option value="all">All</option>
            <option value=1>Casual Dining, Cafes & Take-Out</option>
            <option value=2>Restaurants, Pubs & Catering</option>
            <option value=3>Food & Grocery</option>
            <option value=4>Beer, Wine, Spirits & Tobacco</option>
            <option value=5>Education, Training & Books</option>
            <option value=6>Professional Services</option>
            <option value=7>Financial Services</option>
            <option value=8>Electronics & Technology Services</option>
            <option value=9>Health, Wellness & Fitness</option>
            <option value=10>Family, Sports & Recreation</option>
            <option value=11>Arts & Entertainment</option>
            <option value=12>Jewelry, Florists, Gifts & Events</option>
            <option value=13>Personal Care & Services</option>
            <option value=14>Wardrobe, Accessories & Services</option>
            <option value=15>Home & Garden, Building Supplies</option>
            <option value=16>Real Estate & Home Services</option>
            <option value=17>Automotive & Machinery</option>
            <option value=18>Art, Antiques & Related Services</option>
            <option value=19>Hotels, Inns & Travel</option>
            <option value=20>Specialty Items & Services</option>
            <option value=21>Pets & Live Stock</option>
            <option value=22>Miscellaneous</option>
          </select></td>
                  <td><select id="order" name="order">
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
          </select></td>
                  <td><button type="submit">Filter</button></td>
                  <td><a href="#adminSectionTwo">Next Section</a></td>
      </form>
      <form method="GET" action="/admin/live_discounts">
          <td><input type="number" name="id"></td>
          <td><button type="submit" name="action" value="idLookup">Find ID</button></td>
          </tr>
          </table>
      </form>
  </div>

  {{#live_discounts}}
  <div class="adminhold">
        <form method="POST" action="/admin/live_discounts">
        <input type="hidden" name="discountIDs" value={{discountIDs}}>
            <table class="recent-threads">
                <ul class="topline">
                            <li class="busname">{{busname}}</li>
                            <li class="active">
                                <label for="active">STATUS:</label>
                                <input type="hidden" name="active" value={{active}}>{{active}}</li>
                            <li class="id">
                                <label for="id">ID:</label>
                                <input type="hidden" name="id" value={{id}}>{{id}}</li>
                        </ul>
                        <tr>
                <th>Business Name</th>
                <th>State</th>
                <th>County</th>
                <th>Street</th>
                <th>Zip</th>
                <th>Category</th>
                <th>&nbsp</th>
            </tr>
            <tr>
                <td><input type="text" value="{{busname}}" name="busname" size="30">
                </td>
                <td><select name="state">
                    <option selected value="{{state}}">{{state_abv}}</option>
                  </select>
                </td>
                <td>


                    <select id="county" class="smultiple" name="counties" multiple="multiple" style="width:100%" required>
                    {{#each counties}}
                    <option selected value="{{id}}">{{name}}</option>
                    {{/each}}
                    <option value="1">Rensselaer</option>
                    <option value="2">Albany</option>
                    <option value="3">Schenectady</option>
                    <option value="4">Saratoga</option>
                    <option value="5">Columbia</option>
                    <option value="6">Greene</option>
                    <option value="7">Fulton</option>
                    <option value="8">Warren</option>
                    <option value="9">Schoharie</option>
                    <option value="10">Montgomery</option>
                    <option value="11">Allegany</option>
                    <option value="12">Bronx</option>
                    <option value="13">Broome</option>
                    <option value="14">Cattaraugus</option>
                    <option value="15">Cayuga</option>
                    <option value="16">Chautauqua</option>
                    <option value="17">Chemung</option>
                    <option value="18">Chenango</option>
                    <option value="19">Clinton</option>
                    <option value="20">Cortland</option>
                    <option value="21">Delaware</option>
                    <option value="22">Dutchess</option>
                    <option value="23">Erie</option>
                    <option value="24">Essex</option>
                    <option value="25">Franklin</option>
                    <option value="26">Genesee</option>
                    <option value="27">Hamilton</option>
                    <option value="28">Herkimer</option>
                    <option value="29">Jefferson</option>
                    <option value="30">Kings</option>
                    <option value="31">Lewis</option>
                    <option value="32">Livingston</option>
                    <option value="33">Madison</option>
                    <option value="34">Monroe</option>
                    <option value="35">Nassau</option>
                    <option value="36">New York</option>
                    <option value="37">Niagara</option>
                    <option value="38">Oneida</option>
                    <option value="39">Onondaga</option>
                    <option value="40">Ontario</option>
                    <option value="41">Orange</option>
                    <option value="42">Orleans</option>
                    <option value="43">Oswego</option>
                    <option value="44">Otsego</option>
                    <option value="45">Putnam</option>
                    <option value="46">Queens</option>
                    <option value="47">Richmond</option>
                    <option value="48">Rockland</option>
                    <option value="49">St_Lawrence</option>
                    <option value="50">Schuyler</option>
                    <option value="51">Seneca</option>
                    <option value="52">Steuben</option>
                    <option value="53">Suffolk</option>
                    <option value="54">Sullivan</option>
                    <option value="55">Tioga</option>
                    <option value="56">Tompkins</option>
                    <option value="57">Ulster</option>
                    <option value="58">Washington</option>
                    <option value="59">Wayne</option>
                    <option value="60">Westchester</option>
                    <option value="61">Wyoming</option>
                    <option value="62">Yates</option>
                   </select>
                </td>
                <td><input type="text" value="{{street}}" name="street">
                </td>
                <td><input type="number" value="{{zip}}" name="zip">
                </td>
                <td>
                  <select id="category" name="category" class="single">
                  <option value="{{category}}">{{category_name}}</option>
                  <option value=1>Casual Dining, Cafes & Take-Out</option>
                  <option value=2>Restaurants, Pubs & Catering</option>
                  <option value=3>Food & Grocery</option>
                  <option value=4>Beer, Wine, Spirits & Tobacco</option>
                  <option value=5>Education, Training & Books</option>
                  <option value=6>Professional Services</option>
                  <option value=7>Financial Services</option>
                  <option value=8>Electronics & Technology Services</option>
                  <option value=9>Health, Wellness & Fitness</option>
                  <option value=10>Family, Sports & Recreation</option>
                  <option value=11>Arts & Entertainment</option>
                  <option value=12>Jewelry, Florists, Gifts & Events</option>
                  <option value=13>Personal Care & Services</option>
                  <option value=14>Wardrobe, Accessories & Services</option>
                  <option value=15>Home & Garden, Building Supplies</option>
                  <option value=16>Real Estate & Home Services</option>
                  <option value=17>Automotive & Machinery</option>
                  <option value=18>Art, Antiques & Related Services</option>
                  <option value=19>Hotels, Inns & Travel</option>
                  <option value=20>Specialty Items & Services</option>
                  <option value=21>Pets & Live Stock</option>
                  <option value=22>Miscellaneous</option>
                  </select>
                </td>
                <td>
                    <button type="submit" name="action" value="Delete">Delete</button>
                </td>
            </tr>
        </table>
        <ul>

        <li><label for="desoffer"><b>Offer</b></label>
        <textarea name="desoffer" >{{desoffer}}</textarea>
        </li>
        <li><label for="buslinks"><b>Website</b></label>
        <textarea name="buslinks">{{buslinks}}</textarea>
        </li>
        <li><label for="notes"><b>Notes</b></label>
        <textarea name="notes">{{notes}}</textarea>
        </li>

        </ul>

            <table>
            <tr>

                <th>Contact Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Created</th>
                <th>Expiration (MM-DD-YYYY)</th>
                <th>&nbsp</th>
            </tr>
            <tr>

                <td><input type="text" value="{{cname}}" name="cname"></td>
                <td><input type="text" value="{{cphone}}" name="cphone"></td>
                <td><input type="text" value="{{busmail}}" name="busmail" size="35"></td>
                <td><input type="hidden" value="{{created}}" name="created">{{dateFormat created "MM-DD-YYYY"}}</td>
                <td><input type="hidden" value="{{dateFormat expiration "MM-DD-YYYY"}}" name="originalExpiration">
                <input type="text" value="{{dateFormat expiration "MM-DD-YYYY"}}" name="expiration"></td>
                <td><a href="#adminSectionOne">TOP</a></td>
                <td>
                    <button type="submit" name="action" value="Update">Update</button>
                </td>
              </tr>
        </table>
        </form>
    </div>
  {{/live_discounts}}
  {{#if no_discounts}}
  <div>
    <p>No discounts with those paramters/ID found.</p>
  </div>
  {{/if}}

<!-- close section one -->
</div>
<!-- ************************ END OF LIVE DISCOUNTS SEC 1 **************** -->

<!-- ************************ START OF LIVE DISCOUNTS SEC 2 **************** -->
<div id= "adminSectionTwo">
  <h2>Discounts (Business Search)</h2>

  <div class="container">
  <form method="GET" action="/admin/business_search">
    <input type="text" name="busname" placeholder="Search business name here" size="40"required>
    <button type="submit">Search</button>
  </form>
  </div>

  {{#if business_search}}
  <table class="recent-threads">
    <h2>Results</h2>
    <tr>
        <th>Business Name</th>
        <th>ID</th>
    </tr>

  {{#business_search}}
  <tr>
    <td>{{busname}}</td>
    <td>{{id}}</td>
  </tr>
  {{/business_search}}
  </table>
  {{/if}}
  {{#if no_business}}
  <div>
    <p>No business with that name found.</p>
  </div>
  {{/if}}
</div>

<!-- ************************ END OF LIVE DISCOUNTS SEC 2 **************** -->

<!-- ************************ START OF LIVE VETERANS **************** -->
<div id= "adminSectionThree">
  <h2>Veterans Email<form method="POST" action="/admin/live_veterans/export">
    <button type="submit" value="Export">Export All Veterans</button>
  </form></h2>
  <div class="container">
          <form method="GET" action="/admin/veteran_search">
            <input type="text" name="email" placeholder="Search email here" size="40" required>
            <button type="submit">Search</button>
          </form>
  </div>

  {{#if live_veterans}}
  <table class="recent-threads">
  <thead>
    <tr>
        <td>Subscriber Name</td>
        <td>County</td>
        <td>Email</td>
        <td>ID</td>
    </tr>
  </thead>
  {{#live_veterans}}
  <form method="POST" action="/admin/live_veterans">
  <tr>
      <td><input type="text" value="{{name}}" name="name" size="35"></td>
      <td>
          <select id="county" class="single" name="county"  style="width:75%">
          <option selected value="{{county}}">{{county_name}}</option>
          <option value="1">Rensselaer</option>
          <option value="2">Albany</option>
          <option value="3">Schenectady</option>
          <option value="4">Saratoga</option>
          <option value="5">Columbia</option>
          <option value="6">Greene</option>
          <option value="7">Fulton</option>
          <option value="8">Warren</option>
          <option value="9">Schoharie</option>
          <option value="10">Montgomery</option>
          <option value="11">Allegany</option>
          <option value="12">Bronx</option>
          <option value="13">Broome</option>
          <option value="14">Cattaraugus</option>
          <option value="15">Cayuga</option>
          <option value="16">Chautauqua</option>
          <option value="17">Chemung</option>
          <option value="18">Chenango</option>
          <option value="19">Clinton</option>
          <option value="20">Cortland</option>
          <option value="21">Delaware</option>
          <option value="22">Dutchess</option>
          <option value="23">Erie</option>
          <option value="24">Essex</option>
          <option value="25">Franklin</option>
          <option value="26">Genesee</option>
          <option value="27">Hamilton</option>
          <option value="28">Herkimer</option>
          <option value="29">Jefferson</option>
          <option value="30">Kings</option>
          <option value="31">Lewis</option>
          <option value="32">Livingston</option>
          <option value="33">Madison</option>
          <option value="34">Monroe</option>
          <option value="35">Nassau</option>
          <option value="36">New York</option>
          <option value="37">Niagara</option>
          <option value="38">Oneida</option>
          <option value="39">Onondaga</option>
          <option value="40">Ontario</option>
          <option value="41">Orange</option>
          <option value="42">Orleans</option>
          <option value="43">Oswego</option>
          <option value="44">Otsego</option>
          <option value="45">Putnam</option>
          <option value="46">Queens</option>
          <option value="47">Richmond</option>
          <option value="48">Rockland</option>
          <option value="49">St_Lawrence</option>
          <option value="50">Schuyler</option>
          <option value="51">Seneca</option>
          <option value="52">Steuben</option>
          <option value="53">Suffolk</option>
          <option value="54">Sullivan</option>
          <option value="55">Tioga</option>
          <option value="56">Tompkins</option>
          <option value="57">Ulster</option>
          <option value="58">Washington</option>
          <option value="59">Wayne</option>
          <option value="60">Westchester</option>
          <option value="61">Wyoming</option>
          <option value="62">Yates</option>
        </select>
      </td>
      <td><input type="text" value="{{email}}" name="email" size="40"></td>
      <td><input type="hidden" name="id" value={{id}}>{{id}}</td>
      <td>
          <button type="submit" name="action" value="Delete">Delete</button>
      </td>
      <td>
          <button type="submit" name="action" value="Update">Update</button>
      </td>
  </tr>
  </form>
  {{/live_veterans}}
  </table>
  {{/if}}
  {{#if no_veteran}}
  <div>
    <p>No veteran with that email found.</p>
  </div>
  {{/if}}
<script src="/javascript/script.js"></script>
<!-- close section one -->
</div>

<!-- ************************ END OF LIVE VETERANS **************** -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->
{{> footer}}
<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->

</body>

</html>
