<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <script src="javascript/jquery-3.3.1.min.js"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <title>RTFAdminHolding</title>
  </head>

  <body>
<!-- ************************ START OF NAVBAR AREA**************** -->
 {{> header }}
<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF DISCOUNTS HOLDING **************** -->
    <div id= "adminSectionOne">
      <h2>Discounts (Holding)</h2>
      <form action="/admin/lookup" method="GET">
        <input type="submit" value="Lookup Page">
      </form>
      <form action="/admin/logout" method="get">
        <div>
          <input type="submit" value="Log Out"/>
        </div>
      </form>      
      {{#if holding_discounts}}
      {{#holding_discounts}}
      <form method="POST" action="/admin/holding_discounts">

      <div class="adminhold">
      <table class="recent-threads">
      <input type="hidden" value="{{id}}" name="id">
      	<tr>
      		<th>Business Name</th>
      		<th>State</th>
      		<th>County</th>
      		<th>Street</th>
      		<th>Zip</th>
      		<th>Category</th>
      		<th>&nbsp</th>
      	</tr>
      	<tr>
      		<td><input type="text" value="{{busname}}" name="busname">
      		</td>
      		<td><select name="state">
                  <option selected value="{{state}}">{{state_abv}}</option>
                </select>
      		</td>
      		<td>
      			<select name="county">
                  <option selected value="{{county}}">{{county_name}}</option>
                  <option value="1">Rensselaer</option>
                  <option value="2">Albany</option>
                  <option value="3">Schenectady</option>
                  <option value="4">Saratoga</option>
                </select>
      		</td>
      		<td><input type="text" value="{{street}}" name="street">
      		</td>
      		<td><input type="number" value="{{zip}}" name="zip">
      		</td>
      		<td>
                <select id="category" name="category">
                <option value="{{category}}">{{category_name}}</option>
        <option value=1>Casual Dining and Take-Out</option>
        <option value=2>Art and Antiques</option>
        <option value=3>Banking</option>
        <option value=4>Books</option>
        <option value=5>Cleaners</option>
        <option value=6>Clothing</option>
        <option value=7>Family and Recreation</option>
        <option value=8>Flowers</option>
        <option value=9>Fine Dining and Nightlife</option>
        <option value=10>Haircare and Spas</option>
        <option value=11>Jewelry</option>
        <option value=12>Legal</option>
        <option value=13>Automotive</option>
        <option value=14>Home Services</option>
        <option value=15>Travel</option>
        <option value=16>Theater and Arts</option>
        <option value=17>Storage</option>
        <option value=18>Pets</option>
        <option value=20>Electronics</option>
        <option value=21>Other</option>
                </select>
              </td>
      		<td>
                  <button type="submit" name="action" value="Delete">Delete</button>
              </td>
      	</tr>
      </table>
      <ul>

      <li><label for="desoffer"><b>Offer</b></label>
      <textarea name="desoffer" >{{desoffer}}</textarea>
      </li>
      <li><label for="buslinks"><b>Website</b></label>
      <textarea name="buslinks">{{buslinks}}</textarea>
      </li>
      <li><label for="notes"><b>Notes</b></label>
      <textarea name="notes">{{notes}}</textarea>
      </li>

      </ul>

      	<table>
      	<tr>

      		<th>Contact Name</th>
      		<th>Phone</th>
      		<th>Email</th>
      		<th>Created</th>
      		<th>Expiration (MM-DD-YYYY)</th>
      		<th>&nbsp</th>
      	</tr>
      	<tr>

              <td><input type="text" value="{{cname}}" name="cname"></td>
              <td><input type="text" value="{{cphone}}" name="cphone"></td>
              <td><input type="text" value="{{busmail}}" name="busmail" size="35"></td>
              <td><input type="hidden" value="{{created}}" name="created">{{dateFormat created "MM-DD-YYYY"}}</td>
          	<td><input type="text" value="{{dateFormat expiration "MM-DD-YYYY"}}" name="expiration"></td>
      		<td>
                  <button type="submit" name="action" value="Validate">Validate</button>
              </td>
            </tr>
      </table>
      </div>
      </form>
      {{/holding_discounts}}
      {{else}}
      <p>No Holding Discounts!</p>
      {{/if}}

    <!-- close section one -->
    </div>
<!-- ************************ END OF DISCOUNTS HOLDING **************** -->


<!-- ************************ START OF VETERANS HOLDING **************** -->
    <div id= "adminSectionTwo">
      <h2>Veterans (Holding)</h2>
      {{#if holding_veterans}}
      {{#holding_veterans}}
      <form method="POST" action="/admin/holding_veterans">
       <div class="adminhold">
      <table class="recent-threads">
      <input type="hidden" value="{{id}}" name="id">
        <tr>
            <th>Subscriber Name</th>
            <th>County</th>
            <th>Email</th>
        </tr>
      </thead>
      <tr>
          <td><input type="text" value="{{name}}" name="name"></td>
          <td>
            <select name="county">
              <option selected value="{{county}}">{{county_name}}</option>
              <option value="1">Rensselaer</option>
              <option value="2">Albany</option>
              <option value="3">Schenectady</option>
              <option value="4">Saratoga</option>
            </select>
          </td>
          <td><input type="email" value="{{email}}" name="email" size="35"></td>
          <td>
              <button type="submit" name="action" value="Delete">Delete</button>
          </td>
          <td>
              <button type="submit" name="action" value="Validate">Validate</button>
          </td>
      </tr>
      </table>
  </div>
      </form>
      {{/holding_veterans}}
      {{else}}
      <p>No New Emails Submitted!</p>
      {{/if}}

    <!-- close adminSectionTwo -->
    </div>
<!-- ************************ END OF VETERANS HOLDING **************** -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->
{{> footer}}
<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->

</body>
<script src="javascript/script.js"></script>
</html>
