<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <title>RTFAdminLookup</title>
  </head>

  <body>
{{!-- ************************ START OF NAVBAR AREA**************** --}}
<div class="navbar">

  <div class="logo">

    <a href="home"><img src="images/logo-circle.png" alt "RTFLogo"></a>
    <div class = "rtf">
      <h1><span><u>Ret</u>urn The F.A.V.O.R.</span></h1>
    </div>
  </div>

      <div class= "menu">

          <div class="dropdown">
            <button class="dropbtn">Resources
             <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">
              <a href="about">About/Contact</a>
              <a href="documents">Documents</a>
            </div>
          </div>

          <div class="dropdown">
            <button class="dropbtn">Support
              <i class="fa fa-caret-down"></i>
            </button>

              <div class="dropdown-content">
                  <a href="/support">Add a Discount</a>
                  <a href="/support#sectionTwo">Add an Event</a>
              </div>

          </div>


          <div class="dropdown">
            <button class="dropbtn">Veterans
              <i class="fa fa-caret-down"></i>
            </button>

              <div class="dropdown-content">
                  <a href="/discounts">Discounts</a>
                  <a href="/events">Events</a>
              </div>
          </div>
      {{!--closing menu--}}
      </div>
    {{!-- closing navbar --}}
    </div>

<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF LIVE DISCOUNTS SEC 1 **************** -->
    <div id= "sectionOne">
      <h1>Discounts (Lookup)</h1>

      <div class="container">      
      <form method="GET" action="/admin/live_discounts">
        <label for="state">State</label>
          <select id="state" name="state">
            <option value="1">NY</option>
          </select>
        <label for="county">County</label>
          <select id="county" name="county" required>
            <option value="">Choose a County</option>
            <option value=1>Rensselaer</option>
            <option value=2>Albany</option>
            <option value=3>Schenectady</option>
            <option value=4>Saratoga</option>
          </select>
        <label for="category">Category</label>
          <select id="category" name="category">
            <option value="all">All</option>
            <option value=1>Casual Dining and Take-Out</option>
            <option value=2>Art and Antiques</option>
            <option value=3>Banking</option>
            <option value=4>Books</option>
            <option value=5>Cleaners</option>
            <option value=6>Clothing</option>
            <option value=7>Family and Recreation</option>
            <option value=8>Flowers</option>
            <option value=9>Fine Dining and Nightlife</option>
            <option value=10>Haircare and Spas</option>
            <option value=11>Jewelry</option>
            <option value=12>Legal</option>
            <option value=13>Automotive</option>
            <option value=14>Home Services</option>
            <option value=15>Travel</option>
            <option value=16>Theater and Arts</option>
            <option value=17>Storage</option>
            <option value=18>Pets</option>
            <option value=19>Health and Fitness</option>
            <option value=20>Other</option>
          </select>
        <label for="order">Expiration Date</label>
          <select id="order" name="order">
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
          </select>
        <button type="submit">Filter</button>
      </form>
      <form method="GET" action="/admin/live_discounts">
        <label for="id">ID</label>
          <input type="number" name="id">
        <button type="submit" name="action" value="idLookup">Find ID</button>
      </form>
      </div>

      {{#live_discounts}}
      <form method="POST" action="/admin/live_discounts">
      <table class="recent-threads">

      <table class="recent-threads">
      <h2>{{busname}}</h2>
      <thead>
        <tr>
            <td>Business Name</td>
            <td>Status</td>
            <td>ID</td>
            <td>State</td>
            <td>County</td>
            <td>ZipCode</td>
            <td>Street</td>
            <td>Website</td>
        </tr>
      </thead>
      <tr>
          <td><input type="text" value="{{busname}}" name="busname"></td>
          <td>{{active}}</td>
          <td><input type="hidden" name="id" value={{id}}>{{id}}</td>
          <td>
            <select name="state">
              <option selected value="{{state}}">{{state_abv}}</option>
            </select>
          </td>
          <td>
            <select name="county">
              <option selected value="{{county}}">{{county_name}}</option>
              <option value="1">Rensselaer</option>
              <option value="2">Albany</option>
              <option value="3">Schenectady</option>
              <option value="4">Saratoga</option>
            </select>
          </td>
          <td><input type="number" value="{{zip}}" name="zip"></td>
          <td><input type="text" value="{{street}}" name="street"></td>
          <td><input type="text" value="{{buslinks}}" name="buslinks"></td>
        </tr>
      <thead>
        <tr>
            <td></td>
            <td>Category</td>
            <td>Offer</td>
        </tr>
      </thead>
        <tr>
          <td>
              <button type="submit" name="action" value="Update">Update</button>
          </td>
          <td>
            <select id="category" name="category">
            <option value="{{category}}">{{category_name}}</option>
            <option value=1>Casual Dining and Take-Out</option>
            <option value=2>Art and Antiques</option>
            <option value=3>Banking</option>
            <option value=4>Books</option>
            <option value=5>Cleaners</option>
            <option value=6>Clothing</option>
            <option value=7>Family and Recreation</option>
            <option value=8>Flowers</option>
            <option value=9>Fine Dining and Nightlife</option>
            <option value=10>Haircare and Spas</option>
            <option value=11>Jewelry</option>
            <option value=12>Legal</option>
            <option value=13>Automotive</option>
            <option value=14>Home Services</option>
            <option value=15>Travel</option>
            <option value=16>Theater and Arts</option>
            <option value=17>Storage</option>
            <option value=18>Pets</option>
            <option value=19>Health and Fitness</option>
            <option value=20>Other</option>
            </select>
          </td>
          <td><input type="text" value="{{desoffer}}" name="desoffer"></td>
        </tr>
      <thead>
        <tr>
            <td></td>
            <td>Contact Name</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Notes</td>
            <td>Creation</td>
            <td>Expiration (MM-DD-YYYY)</td>
        </tr>
      </thead>
        <tr>
          <td>
            <button type="submit" name="action" value="Delete">Delete</button>
          </td>
          <td><input type="text" value="{{cname}}" name="cname"></td>
          <td><input type="text" value="{{cphone}}" name="cphone"></td>
          <td><input type="text" value="{{busmail}}" name="busmail"></td>
          <td><input type="text" value="{{notes}}" name="notes"></td>
          <td><input type="hidden" value="{{created}}" name="created">{{dateFormat created "MM-DD-YYYY"}}</td>
          <td><input type="text" value="{{dateFormat expiration "MM-DD-YYYY"}}" name="expiration"></td>
        </tr>
      </table>
      </form>
      {{/live_discounts}}

    <!-- close section one -->
    </div>
<!-- ************************ END OF LIVE DISCOUNTS SEC 1 **************** -->

<!-- ************************ START OF LIVE DISCOUNTS SEC 2 **************** -->
    <div id= "sectionOne">
      <h1>Discounts (Business Search)</h1>

      <div class="container">      
      <form method="GET" action="/admin/business_search">
        <input type="text" name="busname" placeholder="Search business name here" required>
        <button type="submit">Search</button>
      </form>
      </div>

      {{#if business_search}}    
      <table class="recent-threads">
      <thead>
        <tr>
            <td>Business Name</td>
            <td>County</td>
            <td>ID</td>
        </tr>
      </thead>
      {{#business_search}}
      <tr>
        <td>{{busname}}</td>
        <td>{{county_name}}</td>
        <td>{{id}}</td>
      </tr>
      {{/business_search}}
      </table>
      {{/if}}
    </div>

<!-- ************************ END OF LIVE DISCOUNTS SEC 1 **************** -->

<!-- ************************ START OF LIVE VETERANS **************** -->
    <div id= "sectionOne">
      <h2><span class= "accent">Live</span> Veterans</h2>
      <img class= "dogtags" src= "images/icon-ID_tags.svg">
      <img class= "building" src= "images/icon-shop.svg">

      <table class="recent-threads">
      <h2>Live Table</h2>
      <thead>
        <tr>
            <td>Veteran Id</td>
            <td>Veteran Name</td>
            <td>Email</td>
            <td>County</td>
        </tr>
      </thead>
      {{#live_veterans}}
      <form method="POST" action="/admin/live_veterans">
      <tr>
          <td><input type="hidden" name="id" value={{id}}>{{id}}</td>
          <td><input type="text" value="{{name}}" name="name"></td>
          <td><input type="text" value="{{email}}" name="email"></td>
          <td>
            <select name="county">
              <option selected value="{{county}}">{{county_name}}</option>
              <option value="1">Rensselaer</option>
              <option value="2">Albany</option>
              <option value="3">Schenectady</option>
              <option value="4">Saratoga</option>
            </select>
          </td>
          <td>
              <button type="submit" name="action" value="Delete">Delete</button>
          </td>
          <td>
              <button type="submit" name="action" value="Update">Update</button>
          </td>
      </tr>
      </form>
      {{/live_veterans}}
      </table>

    <!-- close section one -->
    </div>
<!-- ************************ END OF LIVE VETERANS **************** -->


<!-- ************************ START OF SECTION TWO **************** -->
    <div id= "sectionTwo">
      <h2><u>Con</u>tact</h2>
      <img class= "dogtags" src= "images/icon-ID_tags.svg">
      <img class= "building" src= "images/icon-shop.svg">
      <br>

      <span><b>Return The F.A.V.O.R.</b>
      </span>

      <br>

      <span><b>Jason Lebrecht</b>
      </span>

      <br>

      <span><b>1234 Main St</b>
      </span>

      <br>

      <span><b>Troy, NY 12345  </b>
      </span>

      <br>

      <br>

      <span><a href= "mailto:RTF@gmail.com"<b>RTF@gmail.com</b></a>
      </span>

      <i class="fa fa-envelope fa-2x"></i>
    </div>

<!-- ************************ END OF SECTION TWO **************** -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->

    <div id= "footer">
      <div class="social">
        <i class="fa fa-instagram fa-3x"></i>
        <i class="fa fa-facebook-square fa-3x"></i>
        <i class="fa fa-twitter-square fa-3x"></i>
      </div>
      <h3>Copyright 2018 <i>Return The Favor</i></h3>

    </div>

<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->

</body>
<script src="javascript/script.js"></script>
</html>
