<h1>{{category}}</h1>
<h1>{{county}}</h1>

<table>
  <thead>
    <tr>
        <td>id</td>
        <td>business</td>
        <td>county</td>
        <td>state</td>
        <td>city</td>
        <td>discount</td>    
    </tr>
  </thead>
{{#discounts}}
    <tr>
        <td>{{id}}</td>
        <td>{{business}}</td>
        <td>{{county}}</td>
        <td>{{state}}</td>
        <td>{{city}}</td>
        <td>{{discount}}</td>
    </tr>
{{/discounts}}