<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Return The Favor Program, Discounts for Veterans">
		<meta name="keywords" content="F.A.V.O.R., DD-214, Discounts, Veterans, NYS, Rensselaer, Troy, Capital Region">
		<script src="javascript/jquery-3.3.1.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js">
                </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
		<link rel="icon" type="image/png" href="/images/favicon.png">
    {{!-- <script src="javascript/jquery-3.3.1.min.js"></script> --}}
		<title>Discounts Return The Favor Veterans DD-214</title>
	</head>

	<body>

<!-- ************************ START OF NAVBAR AREA**************** -->
{{> header }}
<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF SECTION ONE AREA**************** -->
		<div id= "sectionOne">
			<ul class="sectop">
			<li><h2><span class= "accent">Dis</span>counts</h2></li>
			<li class="dogbuil"><img class= "dogtags" src= "/images/icon-ID_tags.svg">
			<img class= "building" src= "/images/icon-shop.svg"></li>
		</ul>
			<h3><i>The Discount Program</i></h3>
			<p>A Special <i>THANKS</i> to our Community of Businesses who honor our Veterans by participating in the F.A.V.O.R. Veterans Discount Program. Honorably discharged Veterans file their original discharge papers with their local County Clerks Office and receive a personalized F.A.V.O.R. ID card that they can present to participating local businesses. Veterans should contact their local County Clerks for more info about Filing their original DD-214 paperwork</p>
			<h3><i>Veterans Subscribe to our Newsletter</i></h3>
			<p>Veterans should subscribe to our newsletter to be notified about the latest Discounts and Events. All fields are required</p>

			<form method="POST" action="/discounts/veteran">
 			<div class="container">
    			<input type="text" placeholder="   'First_Last'" name="name" required>

				<label for="county">County</label>
				<select id="county" class="single" name="county"  style="width:15%" required>
				<option></option>
					<option value="1">Rensselaer</option>
					<option value="2">Albany</option>
					<option value="3">Schenectady</option>
					<option value="4">Saratoga</option>
					<option value="5">Columbia</option>
					<option value="6">Greene</option>
					<option value="7">Fulton</option>
					<option value="8">Warren</option>
					<option value="9">Schoharie</option>
					<option value="10">Montgomery</option>
					</select>

    			<input type="email" placeholder=" Email Address Required" name="email" size="35" required>

				<input type="submit" value="Subscribe">
  			</div>
			 </form>

		<!-- closing section one div -->
		</div>
<!-- ************************ END OF SECTION ONE AREA**************** -->
<!-- ************************ START OF SECTION TWO AREA**************** -->


		<form method="GET" action="/discounts/filter">
		<div id= "sectionTwo">
		<ul class="sectop">
			<li><h2><u>Sea</u>rch Discounts</h2></li>
			<li class="dogbuil"><img class= "dogtags" src= "/images/icon-ID_tags.svg">
			<img class= "building" src= "/images/icon-shop.svg"></li>
		</ul>

			<!-- form action goes here? -->
			<div class="container">
				<label for="county">County</label>
				<select id="county" class="single" name="county"  style="width:15%">
				<option value ="all">All</option>
					<option value="1">Rensselaer</option>
					<option value="2">Albany</option>
					<option value="3">Schenectady</option>
					<option value="4">Saratoga</option>
					<option value="5">Columbia</option>
					<option value="6">Greene</option>
					<option value="7">Fulton</option>
					<option value="8">Warren</option>
					<option value="9">Schoharie</option>
					<option value="10">Montgomery</option>
					</select>

				<label for="zipcode"> Zip Code </label>
				<input type="number" placeholder="  5 Digit Zip Code" name="zip" maxlength="5">

  				<label for="category">Category</label>
  				<select id="category" name="category">
				<option value="all">All</option>
        <option value=1>Casual Dining and Take-Out</option>
        <option value=2>Art and Antiques</option>
        <option value=3>Banking</option>
        <option value=4>Books</option>
        <option value=5>Cleaners</option>
        <option value=6>Clothing</option>
        <option value=7>Family and Recreation</option>
        <option value=8>Flowers</option>
        <option value=9>Fine Dining and Nightlife</option>
        <option value=10>Haircare and Spas</option>
        <option value=11>Jewelry</option>
        <option value=12>Legal</option>
        <option value=13>Automotive</option>
        <option value=14>Home Services</option>
        <option value=15>Travel</option>
        <option value=16>Theater and Arts</option>
        <option value=17>Storage</option>
        <option value=18>Pets</option>
        <option value=20>Electronics</option>
        <option value=21>Other</option>
  				</select>

  				<label for="recent">Recent</label>
  				<select id="recent" name="recent">
				<option value="21">Most Recent</option>
				<option value="1000">All</option>
  				</select>

  				<input type="reset" value="Reset">
  				<input class="search" type="text" placeholder="   Search.." name="search">
      			<button type="submit"><i class="fa fa-search fa-2x"></i></button>
			<!-- close the div "container" -->
			<script src="javascript/script.js"></script>
			</div>
			</form>

		<!-- close the div "section two" -->
		{{!-- </div> --}}
<!-- ************************ END OF SECTION TWO AREA**************** -->

<!-- ************************ START OF DISCOUNTS **************** -->
    {{!-- <div id= "sectionTwo"> --}}

      {{!-- <table class="recent-threads">
      <h2>Discounts</h2>
      <thead>
        <tr>
          <td>Business Name</td>
          <td>State</td>
          <td>County</td>
          <td>ZipCode</td>
          <td>Street</td>
          <td>Offer</td>
          <td>Category</td>
          <td>Website</td>
        </tr>
      </thead>
      {{#discounts}}
      <tr>
        <td>{{busname}}</td>
        <td>{{state_name}}</td>
        <td>{{county_name}}</td>discounts/filter?county=all&zip=&category=all&recent=1000&search=
        <td>{{zip}}</td>
        <td>{{street}}</td>
        <td>{{desoffer}}</td>
        <td>{{category_name}}</td>
        <td>{{buslinks}}</td>
      </tr>
      {{/discounts}}
      </table> --}}

	  <div class="container">
		  {{#discounts}}
	  				<div class="discontainer">

	  					<ul class="topline">
	  						<li class= "busname">{{busname}}</li>
	  						<li class ="buslinks"><a href="//{{buslinks}}">{{buslinks}}</a></li>
	  					</ul>
	  				</br>
	  					<p class="desoffer"><b>Discount Offered:</b> {{desoffer}}

	  				<ul class="bottomline">
	  					<li class="category">
	  						<b>Category:</b> {{category_name}}
	  					</li>
	  					<li class="county">
	  						<b>County:</b> {{counties_names}}
	  					</li>
	  					<li class="zipcode">
	  						<b>Zip:</b> {{zip}}
	  					</li>
	  					{{!-- <li class="created">
	  						<b>Added:</b> {{dateFormat created "MM-DD-YYYY"}}
	  					</li>
	  					<li class="expiration">
	  						<b>Expires:</b> {{dateFormat expiration "MM-DD-YYYY"}}
	  					</li> --}}

	  				</ul>

	  				</div>
				{{/discounts}}
	  			</div>
	  		</div>


    {{#if lastPage}}
      <form method="GET" action="/discounts/filter">
      <input type="hidden" name="page" value={{lastPage}}>
      <input type="hidden" name="county" value={{searchParams.counties}}>
      <input type="hidden" name="zip" value={{searchParams.zip}}>
      <input type="hidden" name="category" value={{searchParams.category}}>
      <input type="hidden" name="recent" value={{searchParams.recent}}>
      <input type="hidden" name="search" value={{searchParams.search}}>
      <button type="submit">Last Page</button>
      </form>
    {{/if}}


    {{#if nextPage}}
        <form method="GET" action="/discounts/filter">
        <input type="hidden" name="page" value={{nextPage}}>
        <input type="hidden" name="county" value={{searchParams.counties}}>
        <input type="hidden" name="zip" value={{searchParams.zip}}>
        <input type="hidden" name="category" value={{searchParams.category}}>
        <input type="hidden" name="recent" value={{searchParams.recent}}>
        <input type="hidden" name="search" value={{searchParams.search}}>
        <button type="submit">Next Page</button>
      </form>
    {{/if}}


    </div>
<!-- ************************ END OF DISCOUNTS **************** -->

<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->
{{> footer}}
<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->



</body>
</html>
