<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Return The Favor Program, Discounts for Veterans">
		<meta name="keywords" content="F.A.V.O.R., DD-214, Discounts, Veterans, NYS, Rensselaer, Troy, Capital Region">
		<script src="/javascript/jquery-3.3.1.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js">
                </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtfres.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-rtf.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<title>Discounts Return The Favor Veterans DD-214</title>
	</head>

	<body>

<!-- ************************ START OF NAVBAR AREA**************** -->
{{> header }}
<!-- ************************ END OF NAVBAR AREA**************** -->

<!-- ************************ START OF SECTION ONE AREA**************** -->
		<div id= "sectionOne">
			<ul class="sectop">
			<li><h2><span class= "accent">Dis</span>counts</h2></li>
			<li class="dogbuil"><img class= "dogtags" src= "/images/icon-ID_tags.svg">
			<img class= "building" src= "/images/icon-shop.svg"></li>
		</ul>
			<h3><i>The Discount Program</i></h3>
			<p>A Special <i>THANKS</i> to our Community of Businesses who honor our Veterans by participating in the F.A.V.O.R. Veterans Discount Program. Honorably discharged Veterans file their original discharge papers with their local County Clerks Office and receive a personalized F.A.V.O.R. ID card that they can present to participating local businesses. Veterans should contact their local County Clerks for more info about Filing their original DD-214 paperwork</p>
			<h3><i>Veterans Subscribe to our Newsletter</i></h3>
			<p>Veterans should subscribe to our newsletter to be notified about the latest Discounts and Events. All fields are required</p>

			<form method="POST" action="/discounts/veteran">
 			<div class="container">
    			<input type="text" placeholder="   'First_Last'" name="name" required>

				<label for="county">County</label>
				<select id="county" class="single" name="county"  style="width:15%" required>
				<option></option>
					<option value="1">Rensselaer</option>
					<option value="2">Albany</option>
					<option value="3">Schenectady</option>
					<option value="4">Saratoga</option>
					<option value="5">Columbia</option>
					<option value="6">Greene</option>
					<option value="7">Fulton</option>
					<option value="8">Warren</option>
					<option value="9">Schoharie</option>
					<option value="10">Montgomery</option>
					<option value="11">Allegany</option>
					<option value="12">Bronx</option>
					<option value="13">Broome</option>
					<option value="14">Cattaraugus</option>
					<option value="15">Cayuga</option>
					<option value="16">Chautauqua</option>
					<option value="17">Chemung</option>
					<option value="18">Chenango</option>
					<option value="19">Clinton</option>
					<option value="20">Cortland</option>
					<option value="21">Delaware</option>
					<option value="22">Dutchess</option>
					<option value="23">Erie</option>
					<option value="24">Essex</option>
					<option value="25">Franklin</option>
					<option value="26">Genesee</option>
					<option value="27">Hamilton</option>
					<option value="28">Herkimer</option>
					<option value="29">Jefferson</option>
					<option value="30">Kings</option>
					<option value="31">Lewis</option>
					<option value="32">Livingston</option>
					<option value="33">Madison</option>
					<option value="34">Monroe</option>
					<option value="35">Nassau</option>
					<option value="36">New York</option>
					<option value="37">Niagara</option>
					<option value="38">Oneida</option>
					<option value="39">Onondaga</option>
					<option value="40">Ontario</option>
					<option value="41">Orange</option>
					<option value="42">Orleans</option>
					<option value="43">Oswego</option>
					<option value="44">Otsego</option>
					<option value="45">Putnam</option>
					<option value="46">Queens</option>
					<option value="47">Richmond</option>
					<option value="48">Rockland</option>
					<option value="49">St_Lawrence</option>
					<option value="50">Schuyler</option>
					<option value="51">Seneca</option>
					<option value="52">Steuben</option>
					<option value="53">Suffolk</option>
					<option value="54">Sullivan</option>
					<option value="55">Tioga</option>
					<option value="56">Tompkins</option>
					<option value="57">Ulster</option>
					<option value="58">Washington</option>
					<option value="59">Wayne</option>
					<option value="60">Westchester</option>
					<option value="61">Wyoming</option>
					<option value="62">Yates</option>

					</select>

    			<input type="email" placeholder=" Email Address Required" name="email" size="35" required>

				<input type="submit" value="Subscribe">
  			</div>
			 </form>

		<!-- closing section one div -->
		</div>
<!-- ************************ END OF SECTION ONE AREA**************** -->
<!-- ************************ START OF SECTION TWO AREA**************** -->


		<form method="GET" action="/discounts/filter">
		<div id= "sectionTwo">
		<ul class="sectop">
			<li><h2><u>Sea</u>rch Discounts</h2></li>
			<li class="dogbuil"><img class= "dogtags" src= "/images/icon-ID_tags.svg">
			<img class= "building" src= "/images/icon-shop.svg"></li>
		</ul>

			<div class="container">
				<label for="county">County</label>
				<select id="county" class="single" name="county"  style="width:12%">
				<option value ="all">All</option>
				<option value="1">Rensselaer</option>
				<option value="2">Albany</option>
				<option value="3">Schenectady</option>
				<option value="4">Saratoga</option>
				<option value="5">Columbia</option>
				<option value="6">Greene</option>
				<option value="7">Fulton</option>
				<option value="8">Warren</option>
				<option value="9">Schoharie</option>
				<option value="10">Montgomery</option>
				<option value="11">Allegany</option>
				<option value="12">Bronx</option>
				<option value="13">Broome</option>
				<option value="14">Cattaraugus</option>
				<option value="15">Cayuga</option>
				<option value="16">Chautauqua</option>
				<option value="17">Chemung</option>
				<option value="18">Chenango</option>
				<option value="19">Clinton</option>
				<option value="20">Cortland</option>
				<option value="21">Delaware</option>
				<option value="22">Dutchess</option>
				<option value="23">Erie</option>
				<option value="24">Essex</option>
				<option value="25">Franklin</option>
				<option value="26">Genesee</option>
				<option value="27">Hamilton</option>
				<option value="28">Herkimer</option>
				<option value="29">Jefferson</option>
				<option value="30">Kings</option>
				<option value="31">Lewis</option>
				<option value="32">Livingston</option>
				<option value="33">Madison</option>
				<option value="34">Monroe</option>
				<option value="35">Nassau</option>
				<option value="36">New York</option>
				<option value="37">Niagara</option>
				<option value="38">Oneida</option>
				<option value="39">Onondaga</option>
				<option value="40">Ontario</option>
				<option value="41">Orange</option>
				<option value="42">Orleans</option>
				<option value="43">Oswego</option>
				<option value="44">Otsego</option>
				<option value="45">Putnam</option>
				<option value="46">Queens</option>
				<option value="47">Richmond</option>
				<option value="48">Rockland</option>
				<option value="49">St_Lawrence</option>
				<option value="50">Schuyler</option>
				<option value="51">Seneca</option>
				<option value="52">Steuben</option>
				<option value="53">Suffolk</option>
				<option value="54">Sullivan</option>
				<option value="55">Tioga</option>
				<option value="56">Tompkins</option>
				<option value="57">Ulster</option>
				<option value="58">Washington</option>
				<option value="59">Wayne</option>
				<option value="60">Westchester</option>
				<option value="61">Wyoming</option>
				<option value="62">Yates</option>

					</select>

				<label for="zipcode">Zip</label>
				<input type="number" placeholder="All" name="zip" maxlength="5">

  				<label for="category">Category</label>
  				<select id="category" name="category" class="single">
				<option value="all">All</option>
				<option value=1>Casual Dining, Cafes & Take-Out</option>
				<option value=2>Restaurants, Pubs & Catering</option>
				<option value=3>Food & Grocery</option>
				<option value=4>Beer, Wine, Spirits & Tobacco</option>
				<option value=5>Education, Training & Books</option>
				<option value=6>Professional Services</option>
				<option value=7>Financial Services</option>
				<option value=8>Electronics & Technology Services</option>
				<option value=9>Health, Wellness & Fitness</option>
				<option value=10>Family, Sports & Recreation</option>
				<option value=11>Arts & Entertainment</option>
				<option value=12>Jewelry, Florists, Gifts & Events</option>
				<option value=13>Personal Care & Services</option>
				<option value=14>Wardrobe, Accessories & Services</option>
				<option value=15>Home & Garden, Building Supplies</option>
				<option value=16>Real Estate & Home Services</option>
				<option value=17>Automotive & Machinery</option>
				<option value=18>Art, Antiques & Related Services</option>
				<option value=19>Hotels, Inns & Travel</option>
				<option value=20>Specialty Items & Services</option>
				<option value=21>Pets & Live Stock</option>
				<option value=22>Miscellaneous</option>
  				</select>

  				<label for="recent">Recent</label>
  				<select id="recent" name="recent">
				<option value="21">Most Recent</option>
				<option value="1000">All</option>
  				</select>

  				<button type="submit">SEARCH</button>

  				<input class="search" type="text" placeholder="   Search.." name="search">

				<input type="reset" value="Reset Filter">
			<!-- close the div "container" -->

			</div>
			</form>



	  <div class="container">
		  {{#discounts}}
	  				<div class="discontainer">

	  					<ul class="topline">
	  						<li class= "busname">{{busname}}</li>
	  						<li class ="buslinks"><a href="//{{buslinks}}">{{buslinks}}</a></li>
	  					</ul>
	  				</br>
	  					<p class="desoffer"><b>Discount Offered:</b> {{desoffer}}

	  				<ul class="bottomline">
	  					<li class="category">
	  						<b>Category:</b> {{category_name}}
	  					</li>
              {{#each counties}}
	  					<li class="county">
	  						<b>County:</b> {{name}}
	  					</li>
              {{/each}}
	  					<li class="zipcode">
	  						<b>Zip:</b> {{zip}}
	  					</li>
	  					{{!-- <li class="created">
	  						<b>Added:</b> {{dateFormat created "MM-DD-YYYY"}}
	  					</li>
	  					<li class="expiration">
	  						<b>Expires:</b> {{dateFormat expiration "MM-DD-YYYY"}}
	  					</li> --}}

	  				</ul>

	  				</div>
				{{/discounts}}
        {{#if no_discounts}}
        <div>
          <p>No results found. Your county may not be signed up with RTF yet.</p>
        </div>
        {{/if}}
	  			</div>
	  		</div>


    {{#if lastPage}}
      <form method="GET" action="/discounts/filter">
      <input type="hidden" name="page" value={{lastPage}}>
      <input type="hidden" name="county" value={{searchParams.counties}}>
      <input type="hidden" name="zip" value={{searchParams.zip}}>
      <input type="hidden" name="category" value={{searchParams.category}}>
      <input type="hidden" name="recent" value={{searchParams.recent}}>
      <input type="hidden" name="search" value={{searchParams.search}}>
      <button type="submit">Last Page</button>
      </form>
    {{/if}}


    {{#if nextPage}}
        <form method="GET" action="/discounts/filter">
        <input type="hidden" name="page" value={{nextPage}}>
        <input type="hidden" name="county" value={{searchParams.counties}}>
        <input type="hidden" name="zip" value={{searchParams.zip}}>
        <input type="hidden" name="category" value={{searchParams.category}}>
        <input type="hidden" name="recent" value={{searchParams.recent}}>
        <input type="hidden" name="search" value={{searchParams.search}}>
        <button type="submit">Next Page</button>
      </form>
    {{/if}}


    </div>
<!-- ************************ END OF DISCOUNTS **************** -->
<script src="/javascript/script.js"></script>
<!-- ______________START OF THE FOOTER AREA OF THE PAGE_______________ -->
{{> footer}}
<!-- ______________END THE FOOTER AREA OF THE PAGE_______________ -->



</body>
</html>
